/* shared design */
* {
    font-family: 'Open Sans', sans-serif;
}

.text-pri {
    color: #FD6E0A;
}

.btn-pri {
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 15px 30px;
}

/* nav design */
nav>h2>span {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 230px;
}

nav>h2 {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

/* header disigns */
.header {
    background-color: #f7f0ec;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
    background-size: auto, contain;
}

.banner {
    /* padding: 0px 30px 0px 100px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0px;
}

.banner .profile-pic {
    width: 450px;
    padding-right: 60px;
}

.ban-grett {
    color: #474747;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 5px;
}

.ban-title {
    color: #181818;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    margin-top: 0px;
}

.ban-dis {
    color: #757575;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;

}

/* about me design */
.about-me {
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 140px;
}

.about-me-info {
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    /* line-height: 30px; */
    padding: 0px 50px 10px;
}

.section-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 25px;
}

.about-extra-cont {
    display: flex;
    justify-content: space-around;
    gap: 50px;
    /* justify-content: center; */
    padding: 20px 120px 100px;
}

.about-extra {
    text-align: center;
}

.e-title {
    color: #757575;
}

.wid-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-top: 20px;
}

.wid-dis {
    color: #757575;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    /* line-height: 30px; */
    padding: 0px 50px 10px;
}

.wid {
    border-radius: 10px;
    /* background: #FFF8F3; */
    margin: 130px 140px;
}

.skills-cont {
    display: flex;
    gap: 24px;
}

.ski-des {
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    /* line-height: 30px; */
    /* padding: 30px; */
}

.skills {
    padding: 30px;
    box-shadow: 10px 10px 10px #f7f0ec;
}

.resu-title {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    /* padding-top: 20px; */
}

.resu-cont {
    display: flex;
    margin: 10px 140px 70px;
    gap: 40px;
}

.column-title {
    color: #474747;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0px;
}

.deg-title {
    color: #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 0px;
}

.uni {
    color: #757575;
    font-size: 18px;
}

.deg-des {
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
}

.Download-CV {
    text-align: center;
}

footer {
    display: flex;
    gap: 100px;
    background-color: #FFF8F3;
    padding: 100px 160px;
    margin-top: 70px;
}

.f-img a {
    margin-right: 24px;
}

.foot-col {
    width: 50%;
}

.C-form input,
textarea {
    display: block;
    margin-bottom: 24px;
    border-radius: 5px;
    padding: 20px 38px;
    color: #757575;
    border: none;
    width:100% ;
}

@media screen and (max-width:576px) {

    footer,
    .skills-cont,
    .resu-cont,
    .about-extra-cont,
    .banner {
        flex-direction: column;
    }

    footer,
    .about-extra-cont {
        padding: 20px;
        align-items: center;
    }

    .foot-col {
        width: 100%;
    }

    .resu-cont,
    .wid,
    .about-me {
        margin: 15px;
    }

    .about-extra-cont {
        gap: 20px;
    }

    .about-me-info {
        padding: 10px;

    }

    main h3 {
        margin: 5px;
    }

    .header {
        background-image: none;
        padding: 0px 5px;
        margin-bottom: 50px;
    }

    .banner {
        padding: 0px;
    }

    .banner .profile-pic {
        width: auto;
        padding-right: 0px;
    }

    ul {
        padding: 0px;
        gap: 5px;
    }

    nav li {
        margin-right: 5px;

    }

    nav {
        flex-wrap: wrap;
        margin: 0px;
    }

    .ban-title {
        margin-bottom: 25px;
    }

    .banner button {
        margin-bottom: 5px;
    }
    .C-form input,
    textarea{
        width: 80%;
    }
}